body {
    background:url(/images/mybj.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed; //不重复
    background-size: cover;      //填充
    background-position:50% 50%;
}

//博客内容透明化
//文章内容的透明度设置
.content-wrap {
  opacity: 0.98;
}

//侧边框的透明度设置
.sidebar {
  opacity: 0.9;
}

//菜单栏的透明度设置
.header-inner {
  background: rgba(255,255,255,0.9);
}

//搜索框（local-search）的透明度设置
.popup {
  opacity: 0.9;
}

//菜单栏背景
//.header-inner {
//  background:url(/images/2.jpg);
//  background-size: cover;
//}

//侧边栏内部
//.sidebar-inner {
//  color: rgba(0,0,0,0);
//  background:url(/images/3.jpg);
//  background-size: cover;
//}

//页脚文字
.footer {
  color: $black-deep;
}

//菜单选项选中后背景色
.menu-item-active a {
  background:url(/images/2.jpg);
  color: orange
}
.menu-item-active:hover{
  background:url(/images/2.jpg);
  color: orange
}
//标题背景
.site-brand-container {
  background:url(/images/2.jpg);
  background-size: cover;
}

